// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

// Required
@import "../node_modules/bootstrap/scss/functions";
$primary: #b52fc4;



// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$theme-colors: (
  "primary": $primary,

);
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/bootstrap";

.logo {
  height: 2rem;
  width: auto;
}

#pfp {
  height: 20%;
  width: 20%;
}

.exemple {
  width: 70%;
  height: auto;
  border-radius: 1%;
}

.card-wrapper {
  display: flex;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.carousel-control-prev,
.carousel-control-next {
  background-color: red;
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev span,
.carousel-control-next span {
  height: 1.5rem;
  width: 1.5rem;
}
/* Borders */
.border-right {
  border-right: 1px solid #ccc;
}

.border-right-image {
  border-right: 1px solid #ccc;
}

.anchor {
    scroll-margin-top: 77px;
}

