// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

// Required
@import "../node_modules/bootstrap/scss/functions";
$primary: #003f79;



// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$theme-colors: (
  "primary": $primary,

);
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/bootstrap";

.logo {
  height: 2rem;
  width: auto;
  color: #003f79;
}

#pfp {
  height: 20%;
  width: 20%;
}

.exemple {
  width: 70%;
  height: auto;
  border-radius: 1%;
}

.card-wrapper {
  display: flex;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.projet{
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: red; //Rend gris??
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  margin: 5px;
}

.carousel-control-prev span,
.carousel-control-next span {
  height: 1.5rem;
  width: 1.5rem;
}
/* Borders */
.border-right {
  border-right: 1px solid #ccc;
}

.border-right-image {
  border-right: 1px solid #ccc;
}

.anchor {
    scroll-margin-top: 77px;
}

#banner{
  position: relative;
  text-align: center;
  mask-image: linear-gradient(to bottom, black 99%, transparent 100%);
}

.glass{
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.30);
  color: rgba(255, 255, 255, 0.80);
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}