.logo {
  height: 2rem;
  width: auto;
}

#pfp {
  height: 20%;
  width: 20%;
}

h2 {
  color: #c34fd0;
}

.exemple {
  width: 70%;
  height: auto;
  border-radius: 1%;
}

.card-wrapper {
  display: flex;
}
