.logo {
  height: 2rem;
  width: auto;
}

#pfp {
  height: 20%;
  width: 20%;
}

h2 {
  color: #b52fc4;
}

.exemple {
  width: 70%;
  height: auto;
  border-radius: 1%;
}

.card-wrapper {
  display: flex;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev span,
.carousel-control-next span {
  height: 1.5rem;
  width: 1.5rem;
}

.border-right-dashed {
  border-right: 1px solid #ccc;
}